{% extends 'base.html' %}

{% block title %} My Tasks {% endblock title %}
{% block content %} 
<main>
    <div>
            <h1>My Tasks</h1>
                {% if show_my_tasks %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    {% for char in show_my_tasks %}
                        <tbody>
                            <tr>
                                <td> {{ char.name }} </td>
                                <td> {{ char.start_date }} </td>
                                <td> {{ char.due_date }} </td>
                                <td> {{ value|yesno }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
    </div>
</main>
{% endblock content %}