{% extends 'base.html' %}

{% block title %}Project Details{% endblock title %}

{% block content %}
<main>
    <div>
        <h1> {{ show_project.name }} </h1>
        <p> {{ show_project.description }} </p>
        <h2>Tasks</h2>
        {% if show_project.tasks.all %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for char in show_project.tasks.all %}
                <tr>
                    <td> {{ char.name }} </td>
                    <td> {{ char.assignee }} </td>
                    <td> {{ char.start_date }} </td>
                    <td> {{ char.due_date }} </td>
                    <td> {{ value|yesno }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p> This project has no tasks </p>
        {% endif %}
    </div>
</main>

{% endblock content %}