{% extends 'base.html' %}

{% block title %}Project List{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <!--need do a for loop. for blank in blank, display projects 
        if loop, if nothing in db, display not assigned to any projects-->
            {% if list_projects %}  
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for projects in list_projects %}
                            <tr>
                                <td><a href="{% url 'show_project' projects.id %}">{{ projects.name }} </a></td>
                                <td> {{ projects.tasks.all|length }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            {% else %} 
                    <p>You are not assigned to any projects</p>
            {% endif %}
    </div>
</main>
{% endblock content %}
